.main-content {

  &.collapsed {
    padding-left: 65px;
    margin-left: 0;
    width: 100%;
  }
}

.players {
  .player {
    padding-bottom: 15px;

    .player-box {
      position: relative;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);

      .player-icon {
        padding: 0;
      }

      .player-username {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .table {
        margin-bottom: 0;

        tr {
          th, td {
            padding: 2px 0;
          }

          &:last-child {
            th, td {
              border-bottom: 0;
            }
          }
        }
      }

      .btn-group {
        position: absolute;
        top: 0;
        right: 0;

        button {
          padding: 0 6px;
          border-radius: 0;
        }
      }
    }
  }
}

.server-status {
  color: #4CAF50;
  width: 12px;
  height: 12px;
  line-height: 12px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(76, 175, 80, .5);
}

.no-top-margin {
  margin-top: 0;
}

.table {
  tr:last-child {
    td, th {
      border-bottom: 1px solid #ddd;
    }
  }
}